.auth__form {
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
}

.auth__btn {
    background: #fff !important;
    color: var(--primary-color);
    font-weight: 600;
}

.auth__form p {
    margin-top: 30px;
}

.auth__form p a {
    color: rgba(255, 255, 255, 0.735);
}

.password-input-wrapper {
    position: relative;
}

.password-input-wrapper input {
    padding-right: 40px;
}

.password-input-wrapper .password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.password-input-wrapper .eye-icon {
    color: #ccc;
}